@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/_mixins';

.wireless-content {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }

  &__text {
    flex: 1;

    .title-section {
      font-size: $font-size-50px;
      color: $color-text-primary;
      font-weight: 700;
      text-align: center;
    }
    
    .subtitle {
      font-size: $font-size-36px;
      color: $color-text-primary;
      font-weight: 500;
      line-height: 160%;
      text-align: center;
    }

    .describe-text {
      margin-top: $spacing-md;
      font-size: $font-size-2_5xl;
      line-height: 130%;
      text-align: center;
      color: $color-text-primary;
    }
  }

  &__image {
    flex: 1;
    border-radius: $border-radius;
    overflow: hidden;
  }
}