 @import '../styles/abstracts/variables';
 @import '../styles/abstracts/mixins';

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: $font-primary;
   font-size: $font-size-base;
   line-height: 1.6;
   color: $color-primary;
   background-color: $color-accent;
 }

 img {
   max-width: 100%;
   height: auto;
   display: block;
 }

 .app {
   width: 100%;
   overflow-x: hidden;
   max-width: 1366px;
   margin: 0 auto;
 }

 .intro-text {
   max-width: 800px;
   margin: 0 auto $spacing-md;
   line-height: 130%;
   text-align: center;
   color: $color-text-primary;
   font-size: $font-size-xl;

   @include tablet {
     font-size: $font-size-2_5xl;
   }

   .emphasis-text {
     font-weight: 700;
   }
 }

 .section-text-third {
   font-weight: 500;
   color: $color-text-primary;
   line-height: 130%;
   text-align: center;
   font-size: $font-size-xl;

   @include tablet {
     font-size: $font-size-2_5xl;
   }

   &__subtext {
     font-weight: 500;
     margin-top: 75px;
     color: $color-text-primary;
     text-align: center;
     font-size: $font-size-xl;

     @include tablet {
       font-size: $font-size-2_5xl;
     }
   }
 }

 .wireless-text {
   color: $color-text-white;
   font-size: $font-size-xl;
   text-align: center;
   font-weight: 500;

   @include tablet {
     font-size: $font-size-2_5xl;
   }
 }

 .middle_banner {
   width: 100%;
 }