@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/_mixins';

.section {
  padding: $spacing-xl $spacing-sm;

  @include desktop {
    padding: 5rem $spacing-md;
  }

  &--dark {
    background-color: $color-bg-dark;
    color: $color-accent;

    .section__subtitle {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: $font-size-2xl;
    font-weight: 700;
    text-align: center;
    margin-bottom: $spacing-md;
    line-height: 1.3;

    @include tablet {
      font-size: $font-size-50px;
    }
  }

  &__subtitle {
    font-size: $font-size-2_5xl;
    text-align: center;
    margin-bottom: $spacing-lg;
    color: $color-text-white;
  }
}